version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: scrapping_pg
    restart: always
    environment:
      POSTGRES_USER: logs_user
      POSTGRES_PASSWORD: logs_password
      POSTGRES_DB: logs_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
